@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Gruppo&display=swap');

:root {
    --color1: #141414;
    --color2: #ffffff;
    --color3: #000000;
    --color4: #727171;
    --color5: #fcd036;

    --font1: 'Gruppo', sans-serif;
    --font2: 'Barlow', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
    background-color: var(--color1);
    color: var(--color2);
}

.abre-menu {
    cursor: pointer;
}

input.checkbox-menu[type="checkbox"] {
    display: none;
    appearance: none;
}

input.checkbox-menu[type="checkbox"]:checked~div.menu-block {
    opacity: 1;
    visibility: visible;
}

.nav-icon {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
}

.nav-icon:hover {
    transform: rotateY(180deg);
}

.menu-block {
    display: inline-block;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

ul.navUL {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navUL li {
    display: inline-block;
    padding: 0px 5px;
}

ul.navUL li a {
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color2);
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

ul.navUL li a:hover {
    transform: scale(0.95);
    color: var(--color2);
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0 15% 0;
}

.main-text-logo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--color2);
    font-family: var(--font1);
}

.main-text h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    color: var(--color2);
}

.main-text p {
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--color5);
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-logo img:hover {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.main-logo img:hover {
    opacity: 0.75;
    transform: scale(0.95);
}

footer {
    background-color: var(--color3);
    font-family: var(--font2);
}

.main-footer {
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer-p {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.footer-lg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-lg h2 {
    font-size: 1rem;
}

.footer-lg p {
    font-size: 0.8rem;
}

#footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

#footer-logo a {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

#footer-logo a:hover {
    opacity: 0.5;
    transform: scale(0.95);
}


.inst {
    display: flex;
    flex-direction: column;
}

.inst h2 {
    font-size: 1rem;
    letter-spacing: 1px;
}

.inst li {
    list-style: none;
}

.inst a {
    text-decoration: none;
    color: var(--color2);
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    transition: all 0.5s ease-in-out;
}

.inst a:hover {
    transform: scale(0.95);
    color: var(--color4);
}